.icon-pin
	+svg(pin,13,19)
.icon-users
	display: inline-block
	vertical-align: middle
	+s(users)
.icon-discount
	display: inline-block
	vertical-align: middle
	+s(discount)
.page-nav
	position: relative
	z-index: 2
	display: block
	padding: 15px 10px
	background: #f1faf1 
	+g(#fdfefd, #f1faf1)
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3)
	color: $gray_d 
	+bold
	font-size: 16px
	&:hover
		color: $blue
	&:before
		content: ""
		display: inline-block
		margin-right: 17px
		vertical-align: middle 
		+svg(angle-l,11,21) 
.price
	display: inline-block
	margin: 0 0 5px
	color: $dark
	font-size: 18px 
	strong
		font-weight: normal
		+bold 
		font-size: 22px
	&__info
		font-size: 12px
		color: $gray_d 
		text-align: left
	&__text
		font-size: 16px
		+bold
	&__old
		text-decoration: line-through
		font-size: 16px
	&.is-green
		color: $green_d 
.btn
	display: inline-block
	border: 1px solid #E7DA00
	padding: 8px 15px 
	min-width: 146px
	font-size: 16px
	+bold
	line-height: 1
	color: $dark
	background: #ffff04
	+g(#ffff04, #f9e000)
	+round
	text-align: center
	box-shadow: inset 0 0 2px #FCFCFC
	&:hover
		background: #ffdf07 
		+g(#ffdf07, #fff111)
	&:active
		background: #ffdf07 
		box-shadow: none
		
.wtf
	display: inline-block
	vertical-align: middle
	+svg(wtf,26,26)
	&:hover
		opacity: 0.9
.counter 
	display: inline-block
	padding: 5px 11px 
	background: #fff 
	background: rgba(#fff,.9)
	font-size: 20px
	color: $dark 
	text-align: center
	line-height: 1
	+round
	&__item
		display: inline-block
		vertical-align: middle
	&__label
		display: block
		font-size: 11px
		color: $gray_d 
.buy-count
	display: inline-block
	padding: 3px 7px
	line-height: 1
	font-size: 14px
	+round
	background: #f0eded
	i
		margin-right: 3px

.badge
	position: absolute
	right: 0
	top: -3px
	font-size: 24px
	color: #fff
	+med 
	span
		position: absolute
		top: 14px
		left: 21px
		right: 0
		width: 75px
		text-align: center
		line-height: 37px
		height: 37px
		width: 75px
		height: 37px
		+rotate(45)
.btn-submit
	display: block
	margin: 23px 0 30px 
	text-align: center
	color: #fff 
	padding: 15px 17px  
	background: #7aad00
	+g(#7aad00, #528500)
	+reg
	font-size: 20px
	line-height: 1
	+round
	&:hover
		background: #528500 
		+g(#528500, #7aad00)

.btn-more
	display: block
	margin: 30px 0 
	width: 100%
	padding: 10px 10px
	color: $gray_d
	border: 1px solid #dcdedd
	+round
	font-size: 18px
	+med
	text-align: center
	background: #f5f8fa 
	box-shadow: 0 1px 0 rgba(#000, 0.2), inset 0 1px 0 #fff
	&:hover
		background: #f2f2f2
	&:active
		box-shadow: inset 0 1px 0 #fff
	&:before
		content: "" 
		display: inline-block
		margin-right: 10px
		vertical-align: middle
		+s(download)
.tabs
	display: table
	position: relative
	z-index: 2
	width: 100%
	table-layout: fixed
	li
		display: table-cell
		position: relative
		vertical-align: top
		border-left: 1px solid $border 
		background: rgba(#fff, .5) 
		border-bottom: 1px solid $border 
		&:first-child
			border: 0
		&.is-active
			z-index: 2
			background: #fff 
			a
				color: $dark
				&:after
					content: "" 
					position: absolute
					bottom: -5px
					height: 5px
					left: 0
					right: 0
					background: #fff 
	a
		display: block
		position: relative
		padding: 0 5px 
		height: 50px
		line-height: 50px 
		color: $gray_d
		+bold
		text-align: center
		&:hover
			color: $blue 
	span
		display: inline-block
		vertical-align: middle
		line-height: 1.2
		
.panel
	margin-bottom: 5px
	background: #fff 
	+ .footer
		margin-top: 20px
	&.is-active
		.panel__title
			color: $dark 
	&__title
		position: relative
		border-top: 1px solid $border 
		border-bottom: 1px solid $border 
		padding: 15px 45px 15px 30px
		font-size: 18px
		+bold
		color: $gray_d  
		cursor: pointer
	&__body
		display: none
		padding: 30px
		line-height: 1.7
		font-size: 14px
		color: $dark
		border-bottom: 1px solid $border 
		will-change: height
	&__link
		color: $gray_d
		+reg
		font-size: 14px
		text-decoration: underline
		&:hover
			text-decoration: none

.btn-close
	+svg(close,20,20)
.btn-dots
	padding: 10px 
	&:before
		content: ""
		display: inline-block 
		vertical-align: middle
		+svg(more,25,6)
.btn-action
	display: block
	position: relative
	margin: 0 0 10px
	width: 100%
	padding: 15px 30px 
	background: #2F8DE0
	border-radius: 9px
	color: #fff
	font-size: 18px
	text-transform: uppercase
	+cbold
	text-align: center
	&:hover
		background: #2184dc 
	&:active
		box-shadow: inset 0 2px 3px rgba(#000,.1) 
	&:after
		content: ""
		position: absolute
		top: 50%
		right: 16px 
		margin-top: -4px 
		+arr(8,8,#fff,b)

.field
	display: block
	position: relative
	margin-bottom: 8px
	+clr
	&__title 
		float: left
		padding: 12px 17px 0 0
		width: 26%
		font-size: 14px
		color: $gray_d
		text-align: right
		+reg 
	&__body
		position: relative
		float: left
		width: 74%
		i
			position: absolute
			top: 9px
			right: 10px
	&__btn
		float: left
	&__link
		float: right
		height: 42px
		line-height: 42px
		a
			font-size: 12px
			color: $gray_d
			text-decoration: underline
			&:hover
				text-decoration: none

.input 
	display: block 
	padding: 0 8px  
	width: 100%
	height: 42px
	background: #FFF
	border: 1px solid #EEF1F2
	border-radius: 3px
	box-shadow: inset 1px 1px 0 rgba(#000, 0.2)
	color: $dark
	font-size: 18px
	+reg 
	&:focus
		box-shadow: 0 0 0 2px #3195EC
	&[readonly]
		border: 0
		box-shadow: none 
	&[type="date"]
		opacity: 0
		position: absolute
		left: 0
		top: 0
		height: 42px
		width: 100%
		line-height: 42px
		//border: 0
		-webkit-appearance: none
		border-radius: 0
	+placeholder
		color: #999
		+reg 
	&_small
		font-size: 14px
		color: $gray_d 
		
.select
	position: relative
	&:after
		content: "" 
		position: absolute
		right: 11px
		top: 17px
		+arr(9,8,$gray_d,b)
	select
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 42px
		opacity: 0
	option
		padding: 10px 
	&__placeholder
		position: absolute
		left: 8px
		top: 0
		height: 42px
		line-height: 42px
		color: #999
		font-size: 14px
		+reg 
.select_city
	.input
		padding-left: 80px


.popup
	position: fixed
	top: 0
	left: 50%
	right: 0
	bottom: 0
	z-index: 100
	margin-left: -240px 
	width: 480px
	background: #fff
	overflow-y: auto
