.icon-pin
	+svg(pin,13,19)
.icon-gift
	+svg(gift,30,30)
.icon-gift-gray
	+svg(gift-gray,30,30)
.icon-users
	display: inline-block
	vertical-align: middle
	+s(users)
.icon-cart
	display: inline-block
	vertical-align: middle
	+s(cart)
.icon-discount
	display: inline-block
	vertical-align: middle
	+s(discount) 
.icon-angle-r
	+svg(angle-r,11,21)
.page-nav
	position: relative
	z-index: 19
	display: block
	padding: 15px 10px
	background: #f1faf1 
	+g(#fdfefd, #f1faf1)
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3)
	color: $gray_d 
	+reg
	font-size: 16px
	text-transform: uppercase
	&:hover
		+g(#f1faf1, #fdfefd)
	&:before
		content: ""
		display: inline-block
		margin-right: 17px
		vertical-align: middle 
		+svg(angle-l,11,21) 
.price
	display: inline-block
	margin: 0 0 5px
	color: $dark
	font-size: 18px 
	&_center
		text-align: center
		.price__info
			text-align: center
	strong
		font-weight: normal
		+bold 
		font-size: 22px
	&__info
		font-size: 12px
		color: $gray_d 
		text-align: left
	&__text
		font-size: 16px
		+bold
	&__old
		text-decoration: line-through
		font-size: 16px
	&.is-green
		color: $green_d 
	&.is-gray
		color: $gray 
		.price__info
			color: $gray 
.btn
	display: inline-block
	border: 1px solid #E7DA00
	padding: 8px 15px 
	min-width: 146px
	font-size: 16px
	+bold
	line-height: 1
	color: $dark
	background: #ffff04
	+g(#ffff04, #f9e000)
	+round
	text-align: center
	box-shadow: inset 0 0 2px #FCFCFC
	&:hover
		background: #ffdf07 
		+g(#ffdf07, #fff111)
	&:active
		background: #ffdf07 
		box-shadow: none
	&_big
		font-size: 18px
		min-width: 0
		padding: 0 10px
		height: 50px
		line-height: 50px  
	&_large
		font-size: 18px
		min-width: 0
		padding: 0 10px
		height: 60px
		line-height: 60px  
	&_liquid
		width: 100%
		display: block 
	&_choose
		padding: 0 14px 0 37px 
		i
			display: inline-block
			margin-left: 22px
			vertical-align: middle
			width: 40px
			height: 40px
			line-height: 36px
			border-radius: 50% 
			text-align: center
			box-shadow: 0 -1px 0 rgba(#D1EA35, .5)
			background: rgba(#fcf102, .5)
			&:before
				content: ""
				display: inline-block
				vertical-align: middle 
				+svg(btn-choose,16,15)
.btn-simple
	display: inline-block
	padding: 13px 19px
	background: #F1F6F9
	border: 1px solid #C3C7CA
	border-radius: 5px
	text-align: center
	font-size: 16px
	color: $dark
	+bold 
	box-shadow: inset 0 2px 0 #FFF
	&:hover
		background: #dfe6ea
	&:active
		box-shadow: none
.btn-remove
	+svg(remove,26,26)
	background-color: #fff
	border-radius: 50%  
.number
	position: relative
	width: 144px
	&__title
		margin-bottom: 4px
		text-align: center
		font-size: 12px
		color: $gray_d
	&__in
		position: relative
	&__input
		display: block
		padding: 0 25px 
		width: 100%
		height: 44px
		font-size: 20px
		text-align: center
		+bold
		color: #000 
		border-radius: 4px 
		background: #fff
		border: 2px solid #b2d2c8
		&:focus
			background: #fff 
	&__btn
		position: absolute
		top: 2px
		height: 40px
		width: 41px
		background: none
		text-align: center
		line-height: 1
		&:before,
		&:after
			content: "" 
			position: absolute
			background: $green
		&:before
			width: 19px
			height: 3px
			top: 19px
			left: 10px
	&__plus
		right: 0
		border-left: 1px solid $border 
		&:after
			top: 11px
			left: 18px
			width: 3px
			height: 19px
	&__minus
		left: 0
		border-right: 1px solid $border 
		// &:before
		// 	+svg(minus,19,19)
.wtf
	display: inline-block
	vertical-align: middle
	+svg(wtf,26,26)
	&:hover
		opacity: 0.9
.counters
	+justify
.counter 
	display: inline-block
	padding: 5px 11px 
	background: #fff 
	background: rgba(#fff,.9)
	font-size: 20px
	color: $dark 
	text-align: center
	line-height: 1
	+round
	&__item
		display: inline-block
		vertical-align: middle
	&__label
		display: block
		font-size: 11px
		color: $gray_d 
.buy-count
	display: inline-block
	padding: 3px 7px
	line-height: 1
	font-size: 14px
	+round
	background: #f0eded
	i
		margin-right: 3px

.badge
	position: absolute
	right: -4px
	top: -4px
	font-size: 24px
	color: #fff
	+med 
	span
		position: absolute
		top: 14px
		left: 21px
		right: 0
		width: 75px
		text-align: center
		line-height: 37px
		width: 75px
		height: 37px
		+rotate(45)
	&_small
		span
			top: 15px
			left: 16px
			height: 30px
			line-height: 30px

.btn-submit
	display: block
	position: relative
	margin: 23px 0 30px 
	text-align: center
	color: #fff 
	padding: 15px 17px  
	background: #7aad00
	+g(#7aad00, #528500)
	+reg
	font-size: 20px
	line-height: 1
	+round
	&:hover
		background: #528500 
		+g(#528500, #7aad00)
	.icon-angle-r
		position: absolute
		position: absolute
		top: 50%
		right: 20px
		margin-top: -10px
	&.has-shadow
		text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5)
.btn-more
	display: block
	margin: 30px 0 
	width: 100%
	padding: 10px 10px
	color: $gray_d
	border: 1px solid #dcdedd
	+round
	font-size: 18px
	+med
	text-align: center
	background: #f5f8fa 
	box-shadow: 0 1px 0 rgba(#000, 0.2), inset 0 1px 0 #fff
	&:hover
		background: #f2f2f2
	&:active
		box-shadow: inset 0 1px 0 #fff
	&:before
		content: "" 
		display: inline-block
		margin-right: 10px
		vertical-align: middle
		+s(download)
.is-liquid
	width: 100%
.choose
	position: relative
	margin: 0 auto 
	width: 356px
	height: 60px
	background: #fff
	line-height: 56px
	border: 2px solid #B2D2C8
	+round
	+clr
	&_small
		display: inline-block
		vertical-align: middle
		width: 240px
		.btn
			min-width: 120px
		+ .btn
			vertical-align: middle
			margin-left: 2px
	&__text
		float: left
		width: 50%
		text-align: center
	.btn
		position: absolute
		top: -2px
		right: -2px
		border-radius: 0 5px 5px 0
	.price
		margin-bottom: 0
.soc-like
	text-align: center
	&__in
		display: inline-block
		vertical-align: middle
		

.tabs
	position: relative
	z-index: 2
	&:after
		content: "" 
		position: absolute
		top: 0
		bottom: 0
		right: 0
		width: 40px
		+gh(rgba(#fff,0),rgba(#fff,1))
	&__list
		//overflow-x: hodden
		overflow-y: hidden
		font-size: 0
		white-space: nowrap
	li
		display: inline-block
		vertical-align: top
		position: relative
		height: 52px
		line-height: 50px
		border: 1px solid $border 
		border-right: 0
		background: #fff
		&.is-active
			border-bottom-color: #fff
			z-index: 2
			a
				color: $dark
	a
		display: block
		position: relative
		padding: 0 20px 
		color: #adadad
		font-size: 14px
		text-transform: uppercase
		+reg
		text-align: center
		&:hover
			color: $blue 
.tab-content
	display: none
	background: #fff
	border-bottom: 1px solid $border 
		
.panel
	margin: 3px 0
	border-bottom: 1px solid $border 
	background: #fff
	+ .footer
		margin-top: 20px
	&.is-active
		.panel__title
			background: #f5f8f9 
			&:after
				+rotate(-180)
	&_center
		&.is-active
			.panel__title
				background: #fff
		.panel__title
			text-align: center
	&__title
		position: relative
		display: table
		width: 100%
		border-top: 1px solid $border 
		font-size: 18px
		line-height: 1.1
		+bold
		color: $dark
		cursor: pointer
		box-shadow: inset 0 1px 0 #fff
		&:after
			content: ""
			position: absolute
			right: 16px
			top: 27px
			+svg(angle-b,14,8)
			opacity: 0.5
			will-change: transform
			+tr(transform .3s)
		div
			display: table-row
			vertical-align: middle
			height: 60px
			min-height: 60px
		span
			display: table-cell
			vertical-align: middle
			padding: 5px 45px 5px 30px 
	&__body 
		display: none
		padding: 30px
		line-height: 1.7
		font-size: 14px
		color: $dark
		border-top: 1px solid $border 
		will-change: height
	&__in
		padding: 0 18px 
	&__link
		color: $gray_d
		+reg
		font-size: 14px
		text-decoration: underline
		&:hover
			text-decoration: none

.btn-close
	+svg(close,20,20)
.dots-more
	padding: 10px 
	&:before
		content: ""
		display: inline-block 
		vertical-align: middle
		+svg(more,25,6)
.btn-action
	display: block
	position: relative
	margin: 0 0 10px
	width: 100%
	padding: 15px 30px 
	background: #2F8DE0
	border-radius: 9px
	color: #fff
	font-size: 18px
	text-transform: uppercase
	+cbold
	text-align: center
	&:hover
		background: #2184dc 
	&:active
		box-shadow: inset 0 2px 3px rgba(#000,.1) 
	&:after
		content: ""
		position: absolute
		top: 50%
		right: 16px 
		margin-top: -4px 
		+arr(8,8,#fff,b)



.field
	display: block
	position: relative
	margin-bottom: 18px
	+clr
	&_no-margin
		margin-bottom: 0 
	+ .btn
		margin-top: 28px
	&__item
		float: left
		margin-left: 6px
		&:first-child
			margin: 0
	&__street
		width: 204px
	&__house
		width: 84px
	.checkbox
		padding-top: 3px
	&__title 
		display: block
		margin: 0 0 15px
		color: $green_d 
		+bold
		font-size: 16px 
		text-decoration: underline
	&__error
		display: block
		margin: 14px 0 0
		color: $red
		font-size: 14px 
		&:before
			content: ""
			display: inline-block
			margin-right: 15px
			vertical-align: middle
			+svg(error,26,26) 
	// &__body
	// 	position: relative
	// 	float: left
	// 	width: 74%
	// 	i
	// 		position: absolute
	// 		top: 9px
	// 		right: 10px
	// &__btn
	// 	float: left
	// &__link
	// 	float: right
	// 	height: 42px
	// 	line-height: 42px
	// 	a
	// 		font-size: 12px
	// 		color: $gray_d
	// 		text-decoration: underline
	// 		&:hover
	// 			text-decoration: none

.input 
	display: block 
	width: 100%
	border: 2px solid #b2d2c8
	padding: 0 8px 
	height: 44px
	background: #fff
	border-radius: 3px
	color: $dark
	font-size: 14px
	+reg
	white-space: nowrap
	overflow: hidden
	text-overflow: ellipsis
	&:focus
		border-color: $green 
	&[readonly]
		border: 0
		box-shadow: none 
	&[type="date"]
		opacity: 0
		position: absolute
		left: 0 
		top: 0
		height: 42px
		width: 100%
		line-height: 42px
		//border: 0
		-webkit-appearance: none
		border-radius: 0
	+placeholder
		color: #999
	&_small
		font-size: 14px
		color: $gray_d 
	&_textarea
		resize: none
		padding: 5px 8px 
		height: 104px
.pay
	+clr
	&__link
		float: left
		position: relative
		margin: 0 0 10px 10px
		border: 1px solid $border
		width: 200px
		height: 120px
		background: #fff
		+round 
		text-align: center
		color: $dark
		font-size: 14px
		&.is-active
			border-color: $green
			box-shadow: inset 0 0 0 2px $green 
		.wtf
			position: absolute
			top: 5px
			right: 5px
			opacity: 0.4
			border-radius: 50% 
			box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1)
	&__img
		display: block
		height: 55px
		margin-top: 17px
		img
			width: auto
	input
		opacity: 0
		position: absolute
		&:checked
			+ .icon-check
				display: block
	.icon-check 
		position: absolute
		top: 12px
		left: 12px
		+svg(check,20,20)
		display: none
			
.checkbox
	display: inline-block
	input
		position: absolute
		z-index: 2
		opacity: 0
		&:checked
			+ span
				&:after
					opacity: 1
					+transform(translateY(0))
	span
		position: relative
		padding-left: 45px
		min-height: 34px
		line-height: 34px
		display: inline-block
		vertical-align: middle
		&:before
			content: "" 
			position: absolute
			left: 0
			top: 0
			width: 34px
			height: 34px
			background: #FFF
			border: 2px solid #7FC345
			+round
		&:after
			content: ""
			position: absolute
			left: 8px
			top: 6px
			z-index: 2
			+svg(check,20,20)
			+transform(translateY(-4px))
			opacity: 0
			+transition(transform .2s, opacity .2s)
		i
			vertical-align: middle
		.icon-gift
			margin: -7px 5px 0 0
.select
	position: relative
	text-align: left
	&:after
		content: "" 
		position: absolute
		right: 12px
		top: 20px
		+arr(9,5,$dark,b)
	&__text	
		display: block
		border: 2px solid #b2d2c8
		padding: 0 30px 0 8px 
		height: 44px
		line-height: 40px
		background: #FFF
		border-radius: 3px
		color: $dark
		font-size: 14px
		+reg
		white-space: nowrap
		overflow: hidden
		text-overflow: ellipsis
	select
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 42px
		opacity: 0
	option
		padding: 10px 
	&_cat
		margin-bottom: 25px
	// &__placeholder
	// 	position: absolute
	// 	left: 8px
	// 	top: 0
	// 	height: 42px
	// 	line-height: 42px
	// 	color: #999
	// 	font-size: 14px
	// 	+reg 
.window
	position: fixed
	top: 138px
	left: 50%
	right: 0
	bottom: 0
	z-index: 18
	margin-left: -240px 
	width: 480px
	background: #eef1f2 
	overflow-y: auto
	display: none
	&.is-active
		display: block
	&__title
		border-top: 5px solid $dark 
		padding: 15px 50px 22px 30px 
		background: #3195ec url(../img/bg-blue-dark.png) 0 0 repeat
		color: #fff
		font-size: 20px
		line-height: 1.2
		+bold 
	&__content	
		border-top: 1px solid $border 
		background: #fff 
		padding: 38px 48px 
.btn-close
	position: absolute
	top: 20px
	right: 20px
	z-index: 21
	&_window
		display: none
.popup
	position: fixed
	top: 0
	left: 50%
	right: 0
	bottom: 0
	z-index: 100
	margin-left: -240px 
	width: 480px
	background: #fff
	overflow-y: auto

.action-btns
	margin: 20px 0 
	font-size: 0
	text-align: center
	a
		display: inline-block
		margin-left: 20px
		vertical-align: middle
		width: 30px
		height: 30px
		line-height: 30px
		background: #F9FDFE
		+round
		box-shadow: 0 0 3px rgba(#000, 0.3)
		&:first-child
			margin-left: 0
		img
			vertical-align: middle
		&:hover
			box-shadow: 0 0 1px rgba(#000, 0.3)